parameters:
    ignoreErrors:
        - '#Call to method basePath\(\) on an unknown class Illuminate\\Foundation\\Application.#'
        - '#Call to method configure\(\) on an unknown class Illuminate\\Foundation\\Application.#'
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::once\(\).#'
        - '#Parameter \#1 \$app of class EoneoPay\\Utils\\Bridge\\Lumen\\Providers\\ConfigurationServiceProvider constructor expects Illuminate\\Contracts\\Foundation\\Application\|Illuminate\\Foundation\\Application, Mockery\\MockInterface given.#'
