parameters:
    ignoreErrors:
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::once\(\).#'
        - '#Call to an undefined method Illuminate\\Contracts\\Foundation\\Application::configure\(\)\.#'
        - '/Parameter #\d \$[a-z][\w]+ of class EoneoPay\\Utils\\[A-Z][\w\\]+ constructor expects [A-Z][\w\\]+, Mockery\\MockInterface given./'
